@import "settings";
@import "mixins";
@import "utility";
@import "layout";
@import "menu/index";


// EXAMPLE_CODE this is just for test, you may delete
body.home {
  color: purple;
}

.blokki-card {
  height: 100%;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 0 17px 0 rgb(0 0 0 / 50%);
  }

  &.type-post {
    background-color: pink;
  }

  &.type-bjm_resource {
    background-color: deepskyblue;
  }
}

