*.log
/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

composer.lock
package-lock.json

node_modules/
src/
config-dev/

skeleton-block-theme.zip

.gitignore
.npmignore

.idea/
.DS_Store
Thumbs.db

*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
*.app
*.exe
*.war