<!-- wp:template-part {"slug":"header","theme":"skeleton-block-theme","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"inherit":true}} -->
<main class="wp-block-group alignfull"><!-- wp:acf/template-archive-before {"id":"block_62c9803fb296d","name":"acf/template-archive-before","data":{},"align":"","mode":"preview"} /-->

	<!-- wp:query-title {"type":"archive","level":2,"fontSize":"x-large"} /-->

	<!-- wp:term-description /-->

	<!-- wp:spacer {"height":"20px"} -->
	<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:query {"queryId":0,"query":{"perPage":5,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"flex","columns":3},"align":"full","layout":{"inherit":true}} -->
	<div class="wp-block-query alignfull"><!-- wp:post-template -->
		<!-- wp:acf/query-post-card-blokki {"id":"block_62c96d500b515","name":"acf/query-post-card-blokki","align":"","mode":"preview"} /-->
		<!-- /wp:post-template -->

		<!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"space-between"}} -->
		<!-- wp:query-pagination-previous {"label":"Previous"} /-->

		<!-- wp:query-pagination-next {"label":"Next"} /-->
		<!-- /wp:query-pagination --></div>
	<!-- /wp:query -->

	<!-- wp:acf/template-archive-after {"id":"block_62c9804eb296e","name":"acf/template-archive-after","data":{},"align":"","mode":"preview"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"skeleton-block-theme","tagName":"footer","className":"site-footer"} /-->